body {
    margin:0px;
    background-color: black;
    width:100vw;
    height:100vh;
    color:white;
}

.container {
    margin:auto;
    margin-top:50px;
    width:90%;
    height: 60%;
    padding:20px;
    background-color: rgb(40, 44, 47);
}

.left {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.right {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.movie img{
    height:350px;
}

#title{
    font-size:80px;
}

.subdetails{
    font-size:20px;
    color: yellow;
}

.movie p{
    font-size: 20px;
}

.search{
    width:100%;
    align-items: center;

}
.search button{
    border:0px;
    border-radius: 5px;
    padding: 9px;
    background-color: grey;
    color:white;
    font-size: 20px;
}

.search button:hover{
    background-color: darkgray;
}

.search input{
    padding:10px;
    width:200px;
}

.search input:focus{
    outline:none;
    border:0px;
    background-color: rgb(233, 232, 234);
}

.circular-progress{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: conic-gradient(yellow 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffffff;
}
.progress-value{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #7d2ae8;
}

#rating{
    display:inline-block;
}

.imdb{
    display:inline-block;
}

.hide{
    display: none;
}